<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521468455202-0imrghojvq6im708lhjul37kc9nbinnh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521468455202-0imrghojvq6im708lhjul37kc9nbinnh</string>
	<key>API_KEY</key>
	<string>AIzaSyBZd42EYppfhG_jZNyos7RT7etONLejgb4</string>
	<key>GCM_SENDER_ID</key>
	<string>521468455202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.home.yourjob</string>
	<key>PROJECT_ID</key>
	<string>yourjob-a822f</string>
	<key>STORAGE_BUCKET</key>
	<string>yourjob-a822f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521468455202:ios:5e94ae421aacba739fdd7b</string>
</dict>
</plist>